* { box-sizing: border-box; }
@import "./normalize.css";
@import "./defs.css";
@import "./components/top-bar.css";
@import "./components/content.css";

.logo {
    background-image: url(https://d13yacurqjgara.cloudfront.net/users/17797/screenshots/2156064/brainstation_logo_1x.png);
    background-position: center;
    background-size: 100%;
}

.header {
    color: $white-text-color;
    background: $main-color;

    &__logo {
        display: inline-block;
        vertical-align: middle;
        height: 75px;
        width: 130px;
    }

    &__page-title {
        display: inline-block;
        vertical-align: middle;
    }

    &__nav {
        display: inline-block;
    }
}

.nav {
    padding-left: 30px;

    &__link {
        color: $white-text-color;
        text-decoration: none;
    }

    ul {
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    &__item {
        font-family: $nav-font;
        display: inline-block;
        letter-spacing: 2px;
        font-size: 25px;
        padding: 0 5px;
        transition: all ease-in-out 200ms;
    }
    &__item:hover {
        font-size: 30px;
        background: rgba(255, 255, 255, 0.1);
    }
    &__item--active {
        border-bottom: solid $white-text-color 1px;
    }
}

.page-header {
    margin: 0;
    display: block;

    &__large-slash {
        display: inline-block;
        svg {
            height: 40px;
        }
    }

    &__title {
        font-family: "BebasNeue-Light";
        vertical-align: super;
        font-size: 30px;
    }
}

@media (max-width: 865px){
    .header {
        &__logo {
            height: 65px;
        }
    }
    .nav {
        &__item {
            font-size: 23px;
        }
        &__item:hover {
            font-size: 25px;
        }
    }
}

@media (max-width: 800px){
    .header {
        &__logo {
            height: 35px;
            width: 90px;
        }
    }
    .nav {
        &__item:hover {
            font-size: 20px;
        }
    }
    .page-header {
        &--large-slash {
            svg {
                height: 30px;
            }
        }

        &--title {
            font-size: 20px;
        }
    }
}

@media (max-width: 730px){
    .nav {
        padding-bottom: 5px;
    }
    .header {
        &__logo {
            height: 35px;
            width: 90px;
        }

        &__page-title {
            display: none;
        }
    }
}

@media (max-width: 650px) {
    .header__logo {
        margin: 0 auto;
        width: 600px;
        height: 220px;
        display: block;
    }

    .nav {
        display: block;
    }
}
